<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/fontawesome.all.min.css" />
    <title>Gerenciamento de Usuário</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-5 text-right">
                <a href="/"><button class="btn btn-primary"><i class="fas fa-home"></i> INÍCIO</button></a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- TÍTULO -->
            <h1 class="mt-2 text-left">Usuário</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <!-- CORPO -->
                <div class="mt-4">
                    <form class="mt-4" method="post">
                        <div class="form-group row">
                            <label th:if="${user}" class="col-form-label" for="registerDate">Data de cadastro:</label>
                            <input th:if="${user}" class="form-control" id="registerDate" type="text" th:value="${user.registerDate}" readonly>

                            <label class="col-form-label" for="cpf">CPF:</label>
                            <input th:if="${user}" class="form-control" id="cpf" type="text" th:value="${user.cpf}" readonly>
                            <input th:unless="${user}" class="form-control" id="cpf" name="cpf" type="text">

                            <label class="col-form-label" for="name">Nome:</label>
                            <input th:if="${user}" class="form-control" id="name" type="text" th:value="${user.name}" readonly>
                            <input th:unless="${user}" class="form-control" id="name" name="name" type="text">

                            <label class="col-form-label" for="birthdate">Data de nascimento:</label>
                            <input th:if="${user}" class="form-control" id="birthdate" type="text" th:value="${user.birthdate}" readonly>
                            <input th:unless="${user}" class="form-control" id="birthdate" name="birthdate" type="date">

                            <label class="col-form-label" for="sex">Sexo:</label>
                            <input th:if="${user}" class="form-control" id="sex" type="text" th:value="${user.sex}" readonly>
                            <select th:unless="${user}" class="form-control" id="sex" name="sex">
                                <option value="M">M</option>
                                <option value="F">F</option>
                            </select>

                            <label class="col-form-label" for="role">Cargo:</label>
                            <select class="form-control" id="role" name="role">
                                <option th:if="${user} and ${user.role}" value="0">Nenhum</option>
                                <option th:unless="${user} and ${user.role}" value="0" selected>Nenhum</option>
                                <option th:if="${user} and ${user.role}" th:each="role : ${roleObjects}" th:value="${role.id}"
                                th:text="${role.name}" th:selected="(${role.id} == ${user.role.id})"/>
                                <option th:unless="${user}" th:each="role : ${roleObjects}" th:value="${role.id}"
                                        th:text="${role.name}" />
                                <option th:if="${user} and !${user.role}" th:each="role : ${roleObjects}" th:value="${role.id}"
                                        th:text="${role.name}" />
                            </select>

                            <label class="col-form-label" for="profile">Perfil:</label>
                            <!-- SÓ ESTÁ FUNCIONANDO PARA LISTAR, "/user/new" DANDO ERRO -->
                            <!--/*
                           <input th:if="${user} and ${user.profiles}" th:each="profile : ${user.profiles}" class="form-control" type="text" th:value="${profile.name}" readonly>
                            */-->
                            <input th:if="${user} and ${user.profiles}" th:each="profile : ${profileObjects}" class="form-control" type="text" value="TESTE" readonly>
                            <select multiple class="form-control" id="profile" name="profile">
                                <option th:if="${user} and ${user.profile}" th:each="profile : ${profileObjects}" th:value="${profile.id}"
                                        th:text="${profile.name}" />
                                <option th:unless="${user}" th:each="profile : ${profileObjects}" th:value="${profile.id}"
                                        th:text="${profile.name}" />
                                <option th:if="${user} and !${profile.role}" th:each="profile : ${profileObjects}" th:value="${profile.id}"
                                        th:text="${profile.name}" />
                            </select>

                        </div>
                        <button class="btn btn-success" type="submit"><i class="far fa-save"></i> Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>